<div id='calendar'>
  <h2 id="month">
    <%= link_to "<", calendar_view_path(date: @date.prev_month), data: { modal: true } %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", calendar_view_path(date: @date.next_month), data: { modal: true } %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @lists_by_date[date] %>
      <ul>
        <% @lists_by_date[date].each do |list| %>
          <li><%= link_to list.heading, list, data: { modal: true } %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>