= simple_nested_form_for @list, :remote =>  ( @list.new_record? ? false : true ) do |f|
  %div
    = link_to 'X', @list , method: :delete, :remote => true unless @list.new_record?
    = f.input :heading, :label => false
    - @list.tasks.order(:created_at).each do |task|
      = render :partial => 'lists/tasks_form', :locals =>{ :f => f, :t => task }
    = render :partial => 'lists/tasks_form', :locals =>{ :f => f, :t => @list.tasks.build, hide_remove_link: true }
    /= f.link_to_add "Add a task", :tasks %></p>
    = f.button :submit, :hidden => true
  %hr
